#O código abaixo habilita senha e password na pasta e sub-pastas
#
#AuthType Basic
#AuthName "Password Protected Area"
#AuthUserFile /home/optykopo/photo/.htpasswd
#Require valid-user

#O código abaixo impede que o conteúdo das pastas seja listado
#
Options -Indexes

#O código abaixo modifica o DocumentRoot para que um acesso ao subdomain seja redirecionado para a pasta public do laravel
#
RewriteEngine on
RewriteCond %{HTTP_HOST} ^photo.optykopoczno.pl$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.photo.optykopoczno.pl$
RewriteCond %{REQUEST_URI} !home/optykopo/photo/photo2me/public/
RewriteRule (.*) /home/optykopo/photo/photo2me/public/$1 [L]
